  <div class="block">
    <nav class="navbar">
    <div class="navbar-brand">
      <a href="" class="navbar-item">
        <h1 class="title is-4">My Logo</h1>
      </a>
    </div>

    <div class="navbar-menu">
      <a href="" class="navbar-item">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </a>

      <a href="" class="navbar-item">
        <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
      </a>
      <a href="#" class="navbar-item">Home</a>
      <a href="#" class="navbar-item">About us</a>
      <a href="#" class="navbar-item">Contact</a>
    </div>

    </nav>
  </div>
